* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: #fffaf3;
    color: #3b2f2f;
}

/* Recipe Container */
.recipes {
    display: flex;
    padding: 62px 12px 0px;
    background: linear-gradient(to left, rgb(245, 150, 26), rgb(242, 211, 170), rgb(245, 150, 26));
    gap: 40px;
}

.sideimg {
    height: 1300px;
    width: 680px;
    border-radius: 12px;
    box-shadow: 8px 8px 15px rgba(0,0,0,0.2);
    object-fit: cover;
    /* image-rendering: pixelated; */
}

.recipes_right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Title */
.recipes_title {
    font-size: 52px;
    font-weight: bolder;
    color: #635112;
    text-shadow: 2px 1.5px #60301f;
    padding-top: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.step_label {
    font-size: 26px;
    font-weight: bold;
    color: #5b3a2f;
    margin: 20px 0 10px;
    display: inline-block;
}

/* Speaker Icon */
.speaker {
    width: 42px;
    height: 40px;
    background-image: url('../img/other/speaker_removed.png');
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}
.speaker.playing {
    width: 35px;
    background-image: url('../img/other/speaker_removed.png');
    margin-right: 17px;
}


/* Ingredients & Steps */
.content li {
    line-height: 1.6;
    font-size: 24px;
}

.content li span i {
    color: #733b1a;
}

/* Section Dividers */
.line_break {
    rotate: 90deg;
    padding: 0;
    width: 400px;
    display: flex;
    position: absolute;
    left: 480px;
    top: 400px;
}

.line_break1{
    top: 110px;

}
.line_break3{
    top: 730px;
}
/* .line_break4{
    top: 880px;
} */
.line_break5{
    top: 1090px;
}
.recipes_right{
    padding-left: 30px;
}

