.recipes {
    background-color: antiquewhite;
}
.sideimg {
    position: fixed;
    top: 80px;
    height: 700px;
    width: 520px;
}
.title {
    margin-top: 63px;
    margin-left: 510px;
    color:rgb(216, 78, 27);
    font-size: 40px;
    font-weight: bolder;
}
.subtitle {
    margin-left: 550px;
    font-size: 5px;
}
h2 {
    font-size: 20px;
}
body, html {
    height: 100%;
}
.speaker {
    width: 70px;
    height: 70px;
    margin-left: 10px;
    background-image: url("../img/other/speaker_removed.jpg");
    background-size: cover;
    cursor: pointer;
    display: inline-block;
}
