*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

/* Nav Bar */
.nav_bar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background: linear-gradient(to left, rgb(177, 125, 20), rgb(226, 207, 162), rgb(193, 143, 5));
    border-style: double;
    border-width: 2px;
    border-color: #9e6a08;
    z-index: 9999;
    /* padding-left: 530px; */
}

.nav_bar div {
    /* margin: 10px 80px; */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav_bar div a {
    text-decoration: none;
    /* color: rgb(231, 171, 149); */
    color: #453e06d4;
    text-shadow: 1px 2px #d0ab61;
}

/* Main Background */
.background{
    /* image */
    background-image: url(../img/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* center */
    text-align: center;
    padding: 200px 300px;
}

.title_section{
    /* center */
    text-align: center;
    padding: 80px 30px;

    /* color */
    background-color: rgba(230, 201, 173, 0.932);

    border: 9px solid rgb(155, 74, 44);
}
.title{
    font-size: 80px;
    color: rgb(216, 78, 27);
    text-shadow: 4px 3px rgb(155, 74, 44);
    font-weight: bolder;
}
.slogan{
    font-size: 40px;
    color: rgb(217, 99, 56);
    font-weight: bold;
    font-style: italic;
}

/* Button Section */
.heart_button_heart{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 9%;
}
.heart{
    width: 50px;
}
.to_my_fridge_button{
    background-color: rgb(200, 92, 53);
    box-shadow: 0 4px 5px rgb(248, 120, 0);
    transition: background-color 0.3s;
    border-radius: 3%;
    padding: 5;
}
.to_my_fridge_button:hover{
    background-color: rgb(227, 103, 58);
    box-shadow: 0 4px 5px rgb(248, 120, 0);
    transition: background-color 0.3s;
    border-radius: 3%;
    padding:5;

}
.to_my_fridge_button a {
    text-decoration: none;
}
.to_my_fridge{
    font-size: 37px;
    padding:0;
    color:rgb(88, 42, 25);
    padding: 5px;
    
}
.to_my_fridge:hover{
    font-size: 37px;
    padding:0;
    color:rgb(133, 66, 41);
    padding: 5px;
}


/* Main */
/* #main{
    background-color:antiquewhite;
    position: relative;
}
#fridge{
    width: 730px;
    margin: 90px 28%;
    position: absolute;
} */

/* Sửa bài */
#main {
    background-color:antiquewhite;
    text-align: center;
    position: relative;
}
#fridge {
    width: 50%;
}


/* Food Pictures */
/* #ramen{
    width: 200px;
} */
#banh_mi_img{
    width: 180px;
    height: 140px;
}
#apple_pie{
    width: 200px;
}
#cornbread{
    width: 200px;
}
#loaded_smashed_potatoes{
    width: 200px;
    height: 100px;
    margin-bottom: 0;

}
#hot_pot{
    width: 150px;
    margin-bottom: 0;
}
#hainan_chicken_rice{
    margin-bottom: 0;
}
#tacos{
    margin-right: 20px;
    margin-left: 40px;
}
/* #seaweed_soup{
    margin-left: 30px;
} */


.food{
    /* position */
    width: 150px;
    height: 140px;
    object-fit: contain;
    /* margin-bottom: 49px;

    padding-left: 20px; */

    /* external link */
    /* position: relative; */
}
/* .food_container{
    // display: flex;
    position: absolute;
    width: 650px;
    top: 160px;
    // padding-top: 70px;
    left: 500px;
    // padding-left: 130px;
    // padding-bottom: 130px;
} */

/* Sửa bài */
.food_container {
    position: absolute;
    top: 83px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px 0px;
    justify-items: center;
    align-items: center;
}

/* External link to food recipes */
.food_description_container {
    /* position */
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    padding-bottom: 0;
    width: 160px;
    z-index: 100;

    /* color */
    background-color: rgba(230, 201, 173, 0.765);
    border: 3px solid rgb(171, 80, 47);

}
.food_description_title {
    font-size: 20px;
    color: rgb(216, 78, 27);
    text-shadow: 1px 1px rgb(155, 74, 44);
}
.food_description_content {
    color: rgb(217, 99, 56);
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}

.see_details {
    text-decoration: none;
    color: rgb(201, 73, 27);
}

/* When hover food->description appears */
#banh_mi {
    /* Size */
    /* width: 180px; */
    /* height: 140px; */

    /* Position */
    position: relative;
}
#banh_mi:hover #banh_mi_description_container{
    display: block;
}

#ramen {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#ramen:hover #ramen_description_container{
    display: block;
}

#apple_pie {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#apple_pie:hover #apple_pie_description_container{
    display: block;
}

#cornbread {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#cornbread:hover #cornbread_description_container{
    display: block;
}

#hainan_chicken_rice {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#hainan_chicken_rice:hover #hainan_chicken_rice_description_container{
    display: block;
}

#hot_pot {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#hot_pot:hover #hot_pot_description_container{
    display: block;
}

#loaded_smashed_potatoes {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#loaded_smashed_potatoes:hover #loaded_smashed_potatoes_description_container{
    display: block;
}

#macaroni {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#macaroni:hover #macaroni_description_container{
    display: block;
}

#salad {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#salad:hover #salad_description_container{
    display: block;
}

#seaweed_soup {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#seaweed_soup:hover #seaweed_soup_description_container{
    display: block;
}

#tacos {
    /* width: 180px; */
    /* height: 140px; */

    position: relative;
}
#tacos:hover #tacos_description_container{
    display: block;
}

#vietnamese_fruit_cocktail {
    /* width: 170px;
    height: 220px; */

    position: relative;
}
#vietnamese_fruit_cocktail:hover #vietnamese_fruit_cocktail_description_container{
    display: block;
}

/* Container */
#banh_mi_description_container {
    /* Position */
    position: absolute;
    display: none;
}

#ramen_description_container {
    position: absolute;
    display: none;
}

#apple_pie_description_container {
    position: absolute;
    display: none;
}

#cornbread_description_container {
    position: absolute;
    display: none;
}

#hainan_chicken_rice_description_container {
    position: absolute;
    display: none;
}

#tacos_description_container {
    position: absolute;
    display: none;
}

#hot_pot_description_container {
    position: absolute;
    display: none;
}

#loaded_smashed_potatoes_description_container {
    position: absolute;
    display: none;
}

#macaroni_description_container {
    position: absolute;
    display: none;
}

#salad_description_container {
    position: absolute;
    display: none;
}

#seaweed_soup_description_container {
    position: absolute;
    display: none;
}

#vietnamese_fruit_cocktail_description_container {
    position: absolute;
    display: none;
}