*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
/* Main Background */
.background{
    /* image */
    background-image: url(../img/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* center */
    text-align: center;
    padding: 200px 300px;
}

.title_section{
    /* center */
    text-align: center;
    padding: 80px 30px;

    /* color */
    background-color: rgba(230, 201, 173, 0.932);

    border: 9px solid rgb(155, 74, 44);
}
.title{
    font-size: 80px;
    color: rgb(216, 78, 27);
    text-shadow: 4px 3px rgb(155, 74, 44);
    font-weight: bolder;
}
.slogan{
    font-size: 40px;
    color: rgb(217, 99, 56);
    font-weight: bold;
    font-style: italic;
}

/* Button Section */
.heart_button_heart{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 9%;
}
.heart{
    width: 50px;
}
.to_my_fridge_button{
    background-color: rgb(200, 92, 53);
    box-shadow: 0 4px 5px rgb(248, 120, 0);
    transition: background-color 0.3s;
    border-radius: 3%;
    padding: 5;
}
.to_my_fridge_button:hover{
    background-color: rgb(227, 103, 58);
    box-shadow: 0 4px 5px rgb(248, 120, 0);
    transition: background-color 0.3s;
    border-radius: 3%;
    padding:5;

}
.to_my_fridge_button a {
    text-decoration: none;
}
.to_my_fridge{
    font-size: 37px;
    padding:0;
    color:rgb(88, 42, 25);
    padding: 5px;
    
}
.to_my_fridge:hover{
    font-size: 37px;
    padding:0;
    color:rgb(133, 66, 41);
    padding: 5px;
}


/* Main */
#main{
    background-color:antiquewhite;
    position: relative;
}
#fridge{
    width: 700px;
    margin: 90px 28%;
    position: absolute;
}


/* Food Pictures */
/* #ramen{
    width: 200px;
} */
#banh_mi{
    width: 180px;
    height: 140px;
}
#apple_pie{
    width: 200px;
}
#cornbread{
    width: 200px;
}
#loaded_smashed_potatoes{
    width: 200px;
    height: 100px;
    margin-bottom: 0;

}
#hot_pot{
    width: 150px;
    margin-bottom: 0;
}
#hainan_chicken_rice{
    margin-bottom: 0;
}
#tacos{
    margin-right: 20px;
    margin-left: 40px;
}
/* #seaweed_soup{
    margin-left: 30px;
} */
.food{
    /* position */
    width: 140px;
    margin-bottom: 40px;
    padding-right: 10px;

    /* external link */
    position: relative;
}
.food_container{
    /* display: flex; */
    position: absolute;
    width: 600px;
    top: 160px;
    /* padding-top: 70px; */
    left: 530px;
    /* padding-left: 130px; */
    /* padding-bottom: 130px; */
}

/* External link to food recipes */
.food_description_container {
    position: absolute;
    top: 0;
    right:0;
}